@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.clearfix:after
	content: ''
	display: table
	clear: both

.header
	height: 44px
	background-color: #4d4d4d

.line-menu
	background-color: #f2f2f2
	border: 1px #cdcdcd solid

.header-information
	margin-left: auto
	margin-right: auto
	display: inline-block

.header-information__punction
	color: #eef3ca
	float: left
	padding: 10px 11px
	font-size: 14px
	white-space: nowrap

.header-information__punction:hover
	background-color: #676767
	cursor: pointer

.header-information__punction_size
	width: 130px

.logo
	margin-bottom: 10px
	display: inline-block
	margin-right: 10px
	
.logo__circle-beeline
	width: 38px
	height: 38px
	border-radius: 20px
	background-image: url('../img/logo-beeline.png')
	background-size: cover
	margin-left: 1px
	margin-top: 15px
	float: left

.logo__text-beeline
	float: left
	margin-left: 6px
	margin-top: 17px
	font-size: 20px
	letter-spacing: -0.9px

.line-menu__list-menu
	list-style: none
	color: #fed602
	padding: 0px
	float: left
	font-size: 14px
	margin-top: 22px
	position: relative
	left: -48px

.line-menu__list-menu li
	float: left
	padding-left: 25px
	white-space: nowrap

.line-menu__list-menu li a
	color: inherit
	font-size: inherit

.forum-line
	height: 63px
	border: 1px #e8dedc solid

.menu-animation
	color: #000000
	float: left

.menu-animation__text
	font-size: 14px
	margin-top: 19px
	float: left

.menu-animation__bottom-arrow
	width: 12px
	height: 7px
	float: left
	background-image: url("../img/arrow-bottom.png")
	background-repeat: no-repeat
	background-size: cover
	margin-top: 28px
	margin-left: 2px

.right-forum-text
	float: right
	font-size: 14px
	color: #f3c500
	margin-top: 17px

.right-forum-text__create-theme-icon
	float: left
	width: 13px
	height: 13px
	margin-right: 3px
	position: relative
	top: -1px

.fa-pencil-alt
	font-size: 12px

.right-forum-text__create-theme
	float: left

.right-forum-text__create-theme-text
	float: left
	a
		color: inherit

.right-forum-text__enter-forum
	float: left
	margin-left: 14px
	a
		color: inherit

.hello-search
	height: 240px
	background-image: url('../img/hello-search.jpg')
	background-repeat: no-repeat
	background-size: cover
	position: relative

.hello-search__dark-phone
	position: absolute
	width: 100%
	height: 100%
	background-color: rgba(0, 0, 0, 0.4)

.hello-search__title-hello
	color: #ffffff
	display: inline-block
	font-size: 22px
	position: relative

@import "media" // Always at the end
